---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard
    headers:
      Authorization:
      - Bearer sk_test_51EXIAiEQYiNu1q8E22PeN6N5pMswpv0Q5dwRApDrqfIuGvyoKTCX5KaKdWWIEZht8LjSF85v7lxPOKrxBFFs7vLp00QvWOAKgM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 146162f8-30a0-403e-8bd2-17dd8b82a953
      Original-Request:
      - req_sHq56ZYUqqZOrc
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1LIr1q2SlNayDm5V",
          "object": "account",
          "business_profile": {
            "mcc": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {
          },
          "charges_enabled": false,
          "controller": {
            "is_controller": true,
            "type": "application"
          },
          "country": "US",
          "created": 1657186187,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1LIr1q2SlNayDm5V/external_accounts"
          },
          "future_requirements": {
            "alternatives": [

            ],
            "current_deadline": null,
            "currently_due": [

            ],
            "disabled_reason": null,
            "errors": [

            ],
            "eventually_due": [

            ],
            "past_due": [

            ],
            "pending_verification": [

            ]
          },
          "metadata": {
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [

            ],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "email",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [

            ],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "email",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": [

            ]
          },
          "settings": {
            "bacs_debit_payments": {
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kanji": null,
              "statement_descriptor_prefix_kana": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {
            }
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Thu, 07 Jul 2022 09:29:47 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gita_gottlieb%40example.net&name=Msgr.+Seth+Mertz&phone=%2B8869014018813&metadata[platform_id]=4
    headers:
      Authorization:
      - Bearer sk_test_51EXIAiEQYiNu1q8E22PeN6N5pMswpv0Q5dwRApDrqfIuGvyoKTCX5KaKdWWIEZht8LjSF85v7lxPOKrxBFFs7vLp00QvWOAKgM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1LIr1s2SlnJL5Xym
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5d816f28-e030-4780-96cb-9461052a322e
      Original-Request:
      - req_CRUtP3utLdlt7m
      Stripe-Account:
      - acct_1LIr1s2SlnJL5Xym
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_M0snrUClltZ5n6",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1657186192,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gita_gottlieb@example.net",
          "invoice_prefix": "6E1B5206",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "platform_id": "4"
          },
          "name": "Msgr. Seth Mertz",
          "next_invoice_sequence": 1,
          "phone": "+8869014018813",
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_M0snrUClltZ5n6/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_M0snrUClltZ5n6/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_M0snrUClltZ5n6/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null,
          "test_clock": null
        }
  recorded_at: Thu, 07 Jul 2022 09:29:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: line_items[0][price_data][currency]=inr&line_items[0][price_data][product_data][name]=aodc&line_items[0][price_data][product_data][description]=Invoice+from+Saeloun+for+inr+39922.98+due+on+2021-10-25&line_items[0][price_data][unit_amount]=3992298&line_items[0][quantity]=1&mode=payment&customer=cus_M0snrUClltZ5n6&success_url=http%3A%2F%2Fwww.example.com%2Finvoices%2F4%2Fpayments%2Fsuccess&cancel_url=http%3A%2F%2Fwww.example.com%2Finvoices%2F4%2Fpayments%2Fcancel
    headers:
      Authorization:
      - Bearer sk_test_51EXIAiEQYiNu1q8E22PeN6N5pMswpv0Q5dwRApDrqfIuGvyoKTCX5KaKdWWIEZht8LjSF85v7lxPOKrxBFFs7vLp00QvWOAKgM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1LIr1s2SlnJL5Xym
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e074f103-890b-495f-a391-6e927ca636e5
      Original-Request:
      - req_09rBvrPj0N7heg
      Stripe-Account:
      - acct_1LIr1s2SlnJL5Xym
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_a1eUgajbKOFrS8Up7oB4k6XsXNfyDtkJ2KDaT7rVl3A6eascm0Ni2iIHM1",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 3992298,
          "amount_total": 3992298,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://www.example.com/invoices/4/payments/cancel",
          "client_reference_id": null,
          "consent": null,
          "consent_collection": null,
          "currency": "inr",
          "customer": "cus_M0snrUClltZ5n6",
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "email": "gita_gottlieb@example.net",
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": null,
          "expires_at": 1657272596,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "payment",
          "payment_intent": "pi_3LIr202SlnJL5Xym1Bqr1bLm",
          "payment_link": null,
          "payment_method_options": {
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "shipping_options": [

          ],
          "shipping_rate": null,
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://www.example.com/invoices/4/payments/success",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": "https://checkout.stripe.com/pay/cs_test_a1eUgajbKOFrS8Up7oB4k6XsXNfyDtkJ2KDaT7rVl3A6eascm0Ni2iIHM1#fidkdWxOYHwnPyd1blpxYHZxWktKYmZuSTFHUTE1ZGJibExXSGxQPUo3YjU1fG1UfXU0fFYnKSdjd2poVmB3c2B3Jz9xd3BgKSdpZHxqcHFRfHVgJz8ndmxrYmlgWmxxYGgnKSdga2RnaWBVaWRmYG1qaWFgd3YnP3F3cGApJ3Zxd2x1YERmZmpwa3EnPydkZmZxWjRJTHc0djdWaWtPSTBdfGgneCUl"
        }
  recorded_at: Thu, 07 Jul 2022 09:29:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3LIr202SlnJL5Xym1Bqr1bLm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51EXIAiEQYiNu1q8E22PeN6N5pMswpv0Q5dwRApDrqfIuGvyoKTCX5KaKdWWIEZht8LjSF85v7lxPOKrxBFFs7vLp00QvWOAKgM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1LIr1s2SlnJL5Xym
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1LIr1s2SlnJL5Xym
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_3LIr202SlnJL5Xym1Bqr1bLm",
          "object": "payment_intent",
          "amount": 3992298,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {
            }
          },
          "amount_received": 0,
          "application": "ca_LVTEicAhu0EntAfF62QG1G4CXJtN08Wv",
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges?payment_intent=pi_3LIr202SlnJL5Xym1Bqr1bLm"
          },
          "client_secret": "pi_3LIr202SlnJL5Xym1Bqr1bLm_secret_dvSiAGL389cT1TmTOIA0Tafv9",
          "confirmation_method": "automatic",
          "created": 1657186196,
          "currency": "inr",
          "customer": "cus_M0snrUClltZ5n6",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 07 Jul 2022 09:29:57 GMT
recorded_with: VCR 3.0.3
