{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json",
      "sourceType": "module"
    },
    "env": {
        "es6": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "settings": {
      "import/extensions": [
        ".js",
        ".jsx",
        ".ts",
        ".tsx"
      ],
      "import/parsers": {
        "@typescript-eslint/parser": [
          ".ts",
          ".tsx"
        ]
      },
      "import/resolver": {
        "node": {
          "extensions": [
            ".js",
            ".jsx",
            ".ts",
            ".tsx"
          ]
        }
      },
      "react": {
          "pragma": "React",
          "fragment": "Fragment",
          "version": "detect"
        }
    },
    "plugins": [
      "react",
      "import",
      "@typescript-eslint"
    ],
    "globals": {
        "fetch": false,
        "document": false,
        "Promise": true,
        "log": true,
        "sessionStorage": true,
        "localStorage": true,
        "FileReader": true,
        "window": true
    },
    "rules": {
      "@typescript-eslint/no-explicit-any": "off",
      "object-curly-newline": "off",
      "no-console": ["error", { "allow": ["warn", "error"] }],
      "comma-dangle": ["error", "only-multiline"],
      "indent": ["warn", 2, { "SwitchCase": 1 }],
      "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
      "key-spacing": 1,
      "keyword-spacing": 2,
      "object-curly-spacing": [1, "always"],
      "semi": 0,
      "array-bracket-spacing": [2, "never"],
      "arrow-body-style": ["error", "as-needed"],
      "func-style": ["error", "expression"],
      "space-before-function-paren": 2,
      "no-multiple-empty-lines": ["warn", { "max": 1, "maxEOF": 1 }],
      "prefer-const": ["warn", { "destructuring": "any", "ignoreReadBeforeAssign": false }],
      "no-var": 1,
      "no-extra-boolean-cast": 1,
      "no-unneeded-ternary": 1,
      "react/no-unescaped-entities": 0,
      "react/prop-types": 0,
      "react/jsx-key": 0,
      "import/order": ["error", {
        "groups": ["external", "builtin", "internal", "sibling", "parent", "index"],
        "pathGroups": [
          { "pattern": "prop-types", "group": "external", "position": "before"},
          { "pattern": "react-*", "group": "external", "position": "before"},
          { "pattern": "react", "group": "external", "position": "before"},
          { "pattern": "components", "group": "internal" },
          { "pattern": "assets/**", "group": "internal", "position": "after" }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }]
    }
  }
