version: "3.9"
services:
  database:
    image: postgres:13.8
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres

  app:
    build:
      context: .
      dockerfile: Dockerfile.test
    image: miru-web:latest
    working_dir: /app
    volumes:
      - .:/app
      - gem_cache:/usr/local/bundle/gems
      - node_modules:/app/node_modules
    environment:
      - DATABASE_URL=postgres://postgres:postgres@database:5432/
      - DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL="true"
      - POSTGRES_PASSWORD="postgres"
      - POSTGRES_USER="postgres"
      - ELASTICSEARCH_URL=http://elastic:x2Sy5FK51zu@elasticsearch:9200
      - PIDFILE=/tmp/pids/server.pid
      - RAILS_ENV=test
      - HUB_URL=http://chrome:4444/wd/hub
      - BUILDKITE_ANALYTICS_TOKEN=dtnAJbMh9fgGZFBLqFvPxnJ9
      - WISE_API_URL=https://api.sandbox.transferwise.tech
      - WISE_ACCESS_TOKEN=access-token-12345
      - WISE_PROFILE_ID=123456
      - EMAIL_DELIVERY_METHOD=letter_opener
      - DEFAULT_MAILER_SENDER=info@miru.so
      - REPLY_TO_EMAIL=no-reply@getmiru.com
      - STRIPE_PUBLISHABLE_KEY=stripe_publishable_key
      - STRIPE_SECRET_KEY=stripe_secret_key
      - STRIPE_WEBHOOK_ENDPOINT_SECRET=stripe_webhook_endpoint_secret
      - SENDGRID_USERNAME=apikey
      - SENDGRID_PASSWORD=pass
      - SMTP_DOMAIN=saeloun.com
      - SMTP_PORT=587
      - CI=true
    depends_on:
      - database
      - elasticsearch
      - chrome
    tmpfs:
      - /tmp/pids/

  chrome:
    image: selenium/standalone-chrome
    volumes:
      - /dev/shm:/dev/shm

  webpack:
    build:
      context: .
      dockerfile: Dockerfile.test
    command: bin/shakapacker-dev-server
    image: miru-web:latest
    ports:
      - "3035:3035"
    environment:
      - WEBPACKER_DEV_SERVER_HOST=0.0.0.0
      - DATABASE_URL=postgres://postgres:postgres@database:5432/
      - ELASTICSEARCH_URL=http://elastic:x2Sy5FK51zu@elasticsearch:9200
    depends_on:
      - database

  elasticsearch:
    image: elasticsearch:7.13.3
    environment:
      discovery.type: single-node
      network.host: 0.0.0.0
      xpack.security.enabled: "true"
      ELASTIC_PASSWORD: "x2Sy5FK51zu"
    ports:
      - "9200:9200"

volumes:
  gem_cache:
  postgres:
  node_modules:
