services:
  database:
    image: postgres:13.8
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres

  app:
    build:
      context: .
      dockerfile: Dockerfile.local
    command: bundle exec rails s -p 3000 -b 0.0.0.0
    ports:
      - "3000:3000"
    image: miru-web:latest
    working_dir: /app
    volumes:
      - .:/app
      - gem_cache:/usr/local/bundle/gems
      - node_modules:/app/node_modules
    environment:
      - DATABASE_URL=postgres://postgres:postgres@database:5432/
      - DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL="true"
      - POSTGRES_PASSWORD="postgres"
      - POSTGRES_USER="postgres"
      - ELASTICSEARCH_URL=http://elastic:x2Sy5FK51zu@elasticsearch:9200
      - PIDFILE=/tmp/pids/server.pid
      - DOCKER_CONTAINER=true
    depends_on:
      - database
      - elasticsearch
    tmpfs:
      - /tmp/pids/

  webpack:
    build:
      context: .
      dockerfile: Dockerfile.local
    command: bin/shakapacker-dev-server
    image: miru-web:latest
    ports:
      - "3035:3035"
    environment:
      - WEBPACKER_DEV_SERVER_HOST=0.0.0.0
      - DATABASE_URL=postgres://postgres:postgres@database:5432/
      - DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL="true"
      - POSTGRES_PASSWORD="postgres"
      - POSTGRES_USER="postgres"
      - ELASTICSEARCH_URL=http://elastic:x2Sy5FK51zu@elasticsearch:9200
      - DOCKER_CONTAINER=true
    depends_on:
      - database

  elasticsearch:
    image: elasticsearch:7.13.3
    environment:
      discovery.type: single-node
      network.host: 0.0.0.0
      xpack.security.enabled: "true"
      ELASTIC_PASSWORD: "x2Sy5FK51zu"
    ports:
      - "9200:9200"

volumes:
  gem_cache:
  postgres:
  node_modules:
