.ac-nav-bar-container::-webkit-scrollbar {
	-webkit-appearance: none;
}

.ac-nav-bar-container::-webkit-scrollbar:vertical {
	width: 11px;
}

.ac-nav-bar-container::-webkit-scrollbar:horizontal {
	height: 11px;
}

.ac-nav-bar-container::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid white; /* should match background, can't be transparent */
	background-color: rgba(0, 0, 0, .5);
}

.ac-nav-bar-container::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 8px;
}

.toggle-menu {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #03c;
  position: absolute;
  top: 0;
  right: -15px;
  color: #fff;
  border-radius: 50%;
  bottom: 0;
  margin: auto;
}

.sidebar {
  z-index: 1;
	width: 300px;
	transition: ease width 0.35s;
}
.sidebar.collapse-sidebar {
	width: 80px;
}
.content-wrapper {
	width: calc(100% - 300px);
	transition: ease width 0.35s;
}
.sidebar.collapse-sidebar ~ .content-wrapper {
	width: calc(100% - 80px);
}
