.marquee {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
}
.marquee p {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 25s linear infinite;
}
@keyframes marquee {
	0%   { transform: translate(0, 0); }
	100% { transform: translate(-100%, 0); }
}

.ac-calendar-container::-webkit-scrollbar {
	-webkit-appearance: none;
}

.ac-calendar-container::-webkit-scrollbar:vertical {
	width: 11px;
}

.ac-calendar-container::-webkit-scrollbar:horizontal {
	height: 11px;
}

.ac-calendar-container::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid white; /* should match background, can't be transparent */
	background-color: rgba(0, 0, 0, .5);
}

.ac-calendar-container::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 8px;
}

.ac-calendar-container {
	max-height: calc(100vh - 250px);
	overflow-y: auto;
}
.ac-calendar-view {
	@apply relative;
}
.ac-calendar {
	@apply flex flex-col pl-12 mt-1 mb-1;
}
.ac-calendar .ac-cv-time-row {
	@apply border-t relative flex;
	height: 60px;
}
.ac-calendar .ac-cv-time-row:last-child {
	@apply border-b;
}
.ac-calendar .ac-cv-time {
	@apply border-r w-15 h-15;
	margin-left: -45px;
}
.ac-calendar .ac-cv-time span {
	@apply text-xs relative;
	top: -10px;
}
.ac-calendar-clone {
	@apply absolute top-0 bottom-0 left-15 right-0;
}

.ac-calendar-clone.current-line {
	pointer-events: none;
}

.ac-calendar-clone .ac-clone-col {
	@apply border-r relative;
}

.ac-calendar-clone .as-meeting-point {
	@apply absolute top-0 left-0 flex items-center justify-center text-col-han-app-400 w-full shadow-lg;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 12px;
	min-height: 12px;
	line-height: 12px;
}

.ac-calendar-container .ac-calendar-users {
	@apply sticky bg-white shadow pl-15;
	z-index: 1;
	top: 0px;
}
.ac-calendar-container .ac-user-name {
	@apply border-r flex items-center justify-end relative py-2 pr-2;
}
.ac-calendar-container .ac-user-name span {
	@apply font-semibold pr-3;
}
.ac-calendar-container .ac-clone-col .ac-user-name i {
	@apply w-10 h-10 inline-flex items-center justify-center bg-col-han-app-600 text-white rounded-full;
}
// .ac-calendar-container .ac-cv-time {
// 	@apply border-r w-15;
// 	margin-left: -45px;
// }
.ac-calendar-view {
	.current-hour-line {
		@apply w-full absolute flex flex-row;
		z-index: 0.5;
		.circle, .line {
			@apply bg-col-red-400;
		}
		.circle {
			@apply h-3 w-3 rounded-3xl absolute top-2/4;
			left: -3.3px;
			transform: translateY(-50%);
		}
		.line {
			@apply h-1 w-full rounded-tr-md rounded-br-md;
		}
	}
}

.active-from:after {
	@apply fixed top-0 left-0 bottom-0 right-0;
	content: "";
	background: rgba(0,0,0,0.5);
	z-index: 2;
}
