<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body style="color:#1D1A31">
    <p>Hi <%= @name %>, </p>

    <p>Greetings from AC!</p>
    <p>We are so delighted to have you onboard. We want to let you know some of the best ways to get up and running on AC,</p>

    <ul>
      <li>Check and Manage office Space occupation. Join our slack channel #ac-sapce</li>
      <li>Check and Request office Devices.</li>
      <li>Check your Team and track their progress.</li>
      <li>Track your time and overall expenses with ease</li>
      <li>And much more...</li>
    </ul>

    <p>
      Please <%= link_to "click here", invitations_accepts_url(token: @token), target: "_blank" %> to accept the invitation.
      <small>(This link will only be valid for 14 days.)</small>
    </p>

    <p>
      Cheers,<br>
      AC Team
    </p>
  </body>
</html>
