<div class="footer-container">
<div id="footer">
        <div
          style="font-family: 'Manrope'; padding:16px; align-items:center; background: #EBEFF2; text-align:center;"
        >
          <table style=" width:80%; margin: 0 auto; padding-top:16px;">
            <tr>
              <td
                align="right"
                style="font-family: 'Manrope'; font-style: normal; font-size:14px; font-weight:400; line-height: 19px; color:#A5A3AD; display: inline-block; text-align: center;"
              >Powered by</td>
              <td align="left" style="vertical-align: middle; display: inline-block;">
                <img src=<%= Rails.root.join('public', 'miruLogoWithText.png') %> alt="Miru Logo" height="48px" width="120px">
              </td>
            </tr>
          </table>
          <p style="font-family: 'Manrope'; font-style: normal; font-size:14px; font-weight:400; line-height: 19px; text-align: center; color:#A5A3AD; width: 80%; margin: 8px auto 0px auto;">
            Saeloun Inc, 475 Clermont Avenue, Brooklyn, New York 11238, United States
          </p>
        </div>
        <div
          style="font-family: 'Manrope'; padding-left:16px; padding-right:px; padding-top:12px; padding-bottom:12px; display: flex; align-items: center; justify-content:space-between; color:white; background:#5B34EA;"
        >
          <p
            style="font-family: 'Manrope'; font-size:12px; font-weight:normal;  font-style: normal; text-align: center; line-height: 16px; flex-basis: 30%; color: #FFFFFF;"
          >© Miru. All rights reserved.</p>
          <p
            style="padding-left: 10px; font-family: 'Manrope'; font-size:12px; font-weight:700; color: #FFFFFF; line-height: 16px; text-align: right; float:right; flex-basis: 30%"
          >
            <a
              href="https://miru.so"
              target="_blank"
              style="color:#FFFFFF; vertical-align: middle; margin-bottom: 3px; text-decoration: none;"
            >
              www.miru.so/
            </a>
          </p>
          <div
            style="font-size:12px; font-weight:normal; line-height: 16px; float:right; color: #FFFFFF; flex-basis: 30%; position: relative; top: 2px;"
          >
            <a
              href="https://www.instagram.com/getmiru/"
              target="_blank"
            >
            <img src=<%= Rails.root.join('public', 'Instagram.png') %> alt="Instagram Logo" height="16px" width="16px">
            </a>
            <a
              href="https://twitter.com/getmiru"
              target="_blank"
            >
            <img src=<%= Rails.root.join('public', 'Twitter.png') %> alt="Twitter Logo" height="16px" width="16px">
            </a>
          </div>
        </div>
      </div>
  </div>
