---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v1/accounts/1483
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token-12345
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - a2440ea3f17a0e1f
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-06-03T11:36:10.989253770Z","errors":[{"code":"RECIPIENT_MISSING","message":"[RECIPIENT_MISSING]
        Recipient with such id is not found among your recipients."}]}'
  recorded_at: Fri, 03 Jun 2022 11:36:10 GMT
- request:
    method: get
    uri: https://api.transferwise.com/v1/accounts/1483
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access-token-12345
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - a2440ea3f17a0e1f
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-06-03T11:36:10.989253770Z","errors":[{"code":"RECIPIENT_MISSING","message":"[RECIPIENT_MISSING]
        Recipient with such id is not found among your recipients."}]}'
  recorded_at: Fri, 03 Jun 2022 11:36:10 GMT
recorded_with: VCR 3.0.3
