---
http_interactions:
- request:
    method: delete
    uri: https://api.sandbox.transferwise.tech/v1/accounts/148398162
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 97f82878-d248-4b5b-878a-f0b35a274456
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trace-Id:
      - 8b70210544345cc5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 03 Jun 2022 14:27:30 GMT
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/accounts
    body:
      encoding: UTF-8
      string: '{"accountHolderName":"Sudeep Tarlekar","country":"IN","details":{"accountNumber":"1234567","address":{"city":"Pune","country":"IN","countryCode":"IN","firstLine":"Pune","postCode":"560015"},"ifscCode":"UTIB0002580","legalType":"PRIVATE"},"id":"148398162","profile":"16455649","type":"indian"}'
    headers:
      Authorization:
      - Bearer 97f82878-d248-4b5b-878a-f0b35a274456
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - ea98548b6d53afe1
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-06-03T14:27:31.718885058Z","errors":[{"code":"NOT_VALID","message":"Please
        enter currency.","path":"currency","arguments":[]}]}'
  recorded_at: Fri, 03 Jun 2022 14:27:31 GMT
- request:
    method: delete
    uri: https://api.transferwise.com/v1/accounts/148398162
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 97f82878-d248-4b5b-878a-f0b35a274456
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trace-Id:
      - 8b70210544345cc5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 03 Jun 2022 14:27:30 GMT
- request:
    method: post
    uri: https://api.transferwise.com/v1/accounts
    body:
      encoding: UTF-8
      string: '{"accountHolderName":"Sudeep Tarlekar","country":"IN","details":{"accountNumber":"1234567","address":{"city":"Pune","country":"IN","countryCode":"IN","firstLine":"Pune","postCode":"560015"},"ifscCode":"UTIB0002580","legalType":"PRIVATE"},"id":"148398162","profile":"16455649","type":"indian"}'
    headers:
      Authorization:
      - Bearer 97f82878-d248-4b5b-878a-f0b35a274456
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - ea98548b6d53afe1
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-06-03T14:27:31.718885058Z","errors":[{"code":"NOT_VALID","message":"Please
        enter currency.","path":"currency","arguments":[]}]}'
  recorded_at: Fri, 03 Jun 2022 14:27:31 GMT
recorded_with: VCR 3.0.3
