---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v1/account-requirements?source=&sourceAmount=1000&target=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 97f82878-d248-4b5b-878a-f0b35a274456
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - ff18893fb84db0f2
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-06-03T11:08:41.975812580Z","errors":[{"code":"NOT_VALID","message":"Must
        be an ISO 4217 alpha-3 currency code.","path":"target","arguments":[]},{"code":"NOT_VALID","message":"Must
        be an ISO 4217 alpha-3 currency code.","path":"source","arguments":[]}]}'
  recorded_at: Fri, 03 Jun 2022 11:08:42 GMT
- request:
    method: get
    uri: https://api.transferwise.com/v1/account-requirements?source=&sourceAmount=1000&target=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 97f82878-d248-4b5b-878a-f0b35a274456
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - ff18893fb84db0f2
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-06-03T11:08:41.975812580Z","errors":[{"code":"NOT_VALID","message":"Must
        be an ISO 4217 alpha-3 currency code.","path":"target","arguments":[]},{"code":"NOT_VALID","message":"Must
        be an ISO 4217 alpha-3 currency code.","path":"source","arguments":[]}]}'
  recorded_at: Fri, 03 Jun 2022 11:08:42 GMT
recorded_with: VCR 3.0.3
