---
http_interactions:
- request:
    method: delete
    uri: https://api.sandbox.transferwise.tech/v1/accounts/1483
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 97f82878-d248-4b5b-878a-f0b35a274456
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 00c039019b1e3231
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-06-03T09:19:44.511506946Z","errors":[{"code":"RECIPIENT_MISSING","message":"[RECIPIENT_MISSING]
        Recipient with such id is not found among your recipients."}]}'
  recorded_at: Fri, 03 Jun 2022 14:27:30 GMT
recorded_with: VCR 3.0.3
