---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/accounts
    body:
      encoding: UTF-8
      string: '{"accountHolderName":"Sudeep Anil Tarlekar","country":"GB","details":{"accountNumber":"GB46
        TRWI 2314 7025 5421 89","address":{"city":"London","country":"GB","countryCode":"GB","firstLine":"Times
        Square","postCode":"56001"},"legalType":"BUSINESS","swiftCode":"TRWIGB2L"},"profile":"123456","type":"swift_code"}'
    headers:
      Authorization:
      - Bearer access-token-12345
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 17b19820b2ea19df
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-06-03T08:12:49.925678240Z","errors":[{"code":"NOT_VALID","message":"Please
        enter currency.","path":"currency","arguments":[]}]}'
  recorded_at: Fri, 03 Jun 2022 08:12:49 GMT
- request:
    method: post
    uri: https://api.transferwise.com/v1/accounts
    body:
      encoding: UTF-8
      string: '{"accountHolderName":"Sudeep Anil Tarlekar","country":"GB","details":{"accountNumber":"GB46
        TRWI 2314 7025 5421 89","address":{"city":"London","country":"GB","countryCode":"GB","firstLine":"Times
        Square","postCode":"56001"},"legalType":"BUSINESS","swiftCode":"TRWIGB2L"},"profile":"123456","type":"swift_code"}'
    headers:
      Authorization:
      - Bearer access-token-12345
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 17b19820b2ea19df
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-06-03T08:12:49.925678240Z","errors":[{"code":"NOT_VALID","message":"Please
        enter currency.","path":"currency","arguments":[]}]}'
  recorded_at: Fri, 03 Jun 2022 08:12:49 GMT
recorded_with: VCR 3.0.3
