---
http_interactions:
- request:
    method: delete
    uri: https://api.sandbox.transferwise.tech/v1/accounts/148397163
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 97f82878-d248-4b5b-878a-f0b35a274456
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 162eb265eda27255
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-06-03T08:54:10.419397651Z","errors":[{"code":"RECIPIENT_MISSING","message":"[RECIPIENT_MISSING]
        Recipient with such id is not found among your recipients."}]}'
  recorded_at: Fri, 03 Jun 2022 08:54:10 GMT
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/accounts
    body:
      encoding: UTF-8
      string: '{"accountHolderName":"Sudeep Tarlekar","country":"IN","currency":"INR","details":{"accountNumber":"1234567","address":{"city":"Pune","country":"IN","countryCode":"IN","firstLine":"Pune","postCode":"560015"},"ifscCode":"UTIB0002580","legalType":"PRIVATE"},"id":"148397163","profile":"16455649","type":"indian"}'
    headers:
      Authorization:
      - Bearer 97f82878-d248-4b5b-878a-f0b35a274456
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - fc0f55f3d6adccd7
    body:
      encoding: ASCII-8BIT
      string: '{"id":148397698,"business":16455649,"profile":16455649,"accountHolderName":"Sudeep
        Tarlekar","currency":"INR","country":"IN","type":"indian","details":{"address":{"country":"IN","countryCode":"IN","firstLine":"Pune","postCode":"560015","city":"Pune","state":null},"email":null,"legalType":"PRIVATE","accountHolderName":null,"accountNumber":"1234567","sortCode":null,"abartn":null,"accountType":null,"bankgiroNumber":null,"ifscCode":"UTIB0002580","bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":null,"dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"IBAN":null,"iban":null,"BIC":null,"bic":null},"user":5967985,"active":true,"ownedByCustomer":false}'
  recorded_at: Fri, 03 Jun 2022 08:54:41 GMT
recorded_with: VCR 3.0.3
