---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.transferwise.tech/v1/accounts
    body:
      encoding: UTF-8
      string: '{"accountHolderName":"Sudeep Anil Tarlekar","country":"GB","currency":"USD","details":{"accountNumber":"GB46
        TRWI 2314 7025 5421 89","address":{"city":"London","country":"GB","countryCode":"GB","firstLine":"Times
        Square","postCode":"56001"},"legalType":"BUSINESS","swiftCode":"TRWIGB2L"},"profile":"123456","type":"swift_code"}'
    headers:
      Authorization:
      - Bearer access-token-12345
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - e5d050a21002184f
    body:
      encoding: ASCII-8BIT
      string: '{"id":148397619,"business":16455649,"profile":16455649,"accountHolderName":"Sudeep
        Anil Tarlekar","currency":"USD","country":"GB","type":"swift_code","details":{"address":{"country":"GB","countryCode":"GB","firstLine":"Times
        Square","postCode":"56001","city":"London","state":null},"email":null,"legalType":"BUSINESS","accountHolderName":null,"accountNumber":"GB46TRWI23147025542189","sortCode":null,"abartn":null,"accountType":null,"bankgiroNumber":null,"ifscCode":null,"bsbCode":null,"institutionNumber":null,"transitNumber":null,"phoneNumber":null,"bankCode":null,"russiaRegion":null,"routingNumber":null,"branchCode":null,"cpf":null,"cardToken":null,"idType":null,"idNumber":null,"idCountryIso3":null,"idValidFrom":null,"idValidTo":null,"clabe":null,"swiftCode":"TRWIGB2L","dateOfBirth":null,"clearingNumber":null,"bankName":null,"branchName":null,"businessNumber":null,"province":null,"city":null,"rut":null,"token":null,"cnpj":null,"payinReference":null,"pspReference":null,"orderId":null,"idDocumentType":null,"idDocumentNumber":null,"targetProfile":null,"targetUserId":null,"taxId":null,"job":null,"nationality":null,"interacAccount":null,"bban":null,"town":null,"postCode":null,"language":null,"billerCode":null,"customerReferenceNumber":null,"prefix":null,"IBAN":null,"iban":null,"BIC":"TRWIGB2L","bic":"TRWIGB2L"},"user":5967985,"active":true,"ownedByCustomer":false}'
  recorded_at: Fri, 03 Jun 2022 08:13:02 GMT
- request:
    method: post
    uri: https://api.transferwise.com/v1/accounts
    body:
      encoding: UTF-8
      string: '{"accountHolderName":"Sudeep Anil Tarlekar","country":"GB","currency":"USD","details":{"accountNumber":"GB46
        TRWI 2314 7025 5421 89","address":{"city":"London","country":"GB","countryCode":"GB","firstLine":"Times
        Square","postCode":"56001"},"legalType":"BUSINESS","swiftCode":"TRWIGB2L"},"profile":"123456","type":"swift_code"}'
    headers:
      Authorizati[...]
