---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.transferwise.tech/v1/validators/ifsc-code?ifscCode=UTIB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 97f82878-d248-4b5b-878a-f0b35a274456
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - ae60aeee210207a0
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"VALIDATION_NOT_SUCCESSFUL","message":"ifscCode
        has not passed validation.","path":"ifscCode","arguments":["UTIB"]}]}'
  recorded_at: Fri, 03 Jun 2022 07:12:26 GMT
- request:
    method: get
    uri: https://api.transferwise.com/v1/validators/ifsc-code?ifscCode=UTIB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 97f82878-d248-4b5b-878a-f0b35a274456
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - ae60aeee210207a0
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"VALIDATION_NOT_SUCCESSFUL","message":"ifscCode
        has not passed validation.","path":"ifscCode","arguments":["UTIB"]}]}'
  recorded_at: Fri, 03 Jun 2022 07:12:26 GMT
recorded_with: VCR 3.0.3
