<div class="mx-auto md:px-20 font-manrope">
  <div>
    <%= react_component("Devices/RouteConfig", {
      isAdminUser: Pundit.policy!(current_user, :device).admin_access?,
      androidAppUrl: asset_url("Tackle.apk"),
      iosAppUrl: nil,
    }) %>
  </div>
</div>
