---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard
    headers:
      Authorization:
      - Bearer sk_test_51EXIAiEQYiNu1q8E22PeN6N5pMswpv0Q5dwRApDrqfIuGvyoKTCX5KaKdWWIEZht8LjSF85v7lxPOKrxBFFs7vLp00QvWOAKgM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8068a1c2-0604-4a9c-8728-9d9b434b3538
      Original-Request:
      - req_d8ww4tnEBVWKzg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1LIrmt2QSbFbrKNb",
          "object": "account",
          "business_profile": {
            "mcc": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {
          },
          "charges_enabled": false,
          "controller": {
            "is_controller": true,
            "type": "application"
          },
          "country": "US",
          "created": 1657189104,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1LIrmt2QSbFbrKNb/external_accounts"
          },
          "future_requirements": {
            "alternatives": [

            ],
            "current_deadline": null,
            "currently_due": [

            ],
            "disabled_reason": null,
            "errors": [

            ],
            "eventually_due": [

            ],
            "past_due": [

            ],
            "pending_verification": [

            ]
          },
          "metadata": {
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [

            ],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "email",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [

            ],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "email",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": [

            ]
          },
          "settings": {
            "bacs_debit_payments": {
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kanji": null,
              "statement_descriptor_prefix_kana": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {
            }
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Thu, 07 Jul 2022 10:18:25 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51EXIAiEQYiNu1q8E22PeN6N5pMswpv0Q5dwRApDrqfIuGvyoKTCX5KaKdWWIEZht8LjSF85v7lxPOKrxBFFs7vLp00QvWOAKgM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1LIrmw2SfWxpOxPP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1LIrmw2SfWxpOxPP
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [

          ],
          "has_more": false,
          "url": "/v1/checkout/sessions"
        }
  recorded_at: Thu, 07 Jul 2022 10:18:29 GMT
recorded_with: VCR 3.0.3
