---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard
    headers:
      Authorization:
      - Bearer sk_test_51EXIAiEQYiNu1q8E22PeN6N5pMswpv0Q5dwRApDrqfIuGvyoKTCX5KaKdWWIEZht8LjSF85v7lxPOKrxBFFs7vLp00QvWOAKgM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1fdf32d5-527e-4a82-a314-648141398cc9
      Original-Request:
      - req_eNx2hbR310716U
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1LIrte2R0OnCjLP8",
          "object": "account",
          "business_profile": {
            "mcc": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {
          },
          "charges_enabled": false,
          "controller": {
            "is_controller": true,
            "type": "application"
          },
          "country": "US",
          "created": 1657189522,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1LIrte2R0OnCjLP8/external_accounts"
          },
          "future_requirements": {
            "alternatives": [

            ],
            "current_deadline": null,
            "currently_due": [

            ],
            "disabled_reason": null,
            "errors": [

            ],
            "eventually_due": [

            ],
            "past_due": [

            ],
            "pending_verification": [

            ]
          },
          "metadata": {
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [

            ],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "email",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [

            ],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "email",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": [

            ]
          },
          "settings": {
            "bacs_debit_payments": {
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kanji": null,
              "statement_descriptor_prefix_kana": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {
            }
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Thu, 07 Jul 2022 10:25:23 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=kisha%40example.net&name=Angel+Wisoky&phone=%2B981907469539&metadata[platform_id]=2
    headers:
      Authorization:
      - Bearer sk_test_51EXIAiEQYiNu1q8E22PeN6N5pMswpv0Q5dwRApDrqfIuGvyoKTCX5KaKdWWIEZht8LjSF85v7lxPOKrxBFFs7vLp00QvWOAKgM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1LIrtg2SBHFmsqvE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 91ded29e-535a-4137-9be5-7c603105b7ae
      Original-Request:
      - req_N6R2TwGUqpIV7N
      Stripe-Account:
      - acct_1LIrtg2SBHFmsqvE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_M0thtazhjtqA3K",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1657189527,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "kisha@example.net",
          "invoice_prefix": "40F43FFD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "platform_id": "2"
          },
          "name": "Angel Wisoky",
          "next_invoice_sequence": 1,
          "phone": "+981907469539",
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_M0thtazhjtqA3K/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_M0thtazhjtqA3K/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_M0thtazhjtqA3K/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null,
          "test_clock": null
        }
  recorded_at: Thu, 07 Jul 2022 10:25:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: line_items[0][price_data][currency]=inr&line_items[0][price_data][product_data][name]=nezy&line_items[0][price_data][product_data][description]=Invoice+from+Saeloun+for+inr+17617.01+due+on+2021-11-05&line_items[0][price_data][unit_amount]=1761701&line_items[0][quantity]=1&mode=payment&customer=cus_M0thtazhjtqA3K&success_url=https%3A%2F%2Fexample.com%2Finvoices%2F2%2Fpayments%2Fsuccess&cancel_url=https%3A%2F%2Fexample.com%2Finvoices%2F2%2Fpayments%2Fcancel
    headers:
      Authorization:
      - Bearer sk_test_51EXIAiEQYiNu1q8E22PeN6N5pMswpv0Q5dwRApDrqfIuGvyoKTCX5KaKdWWIEZht8LjSF85v7lxPOKrxBFFs7vLp00QvWOAKgM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1LIrtg2SBHFmsqvE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 29a5d613-042f-46bb-83a6-7a2cc7259558
      Original-Request:
      - req_UiVla1fQotWGrd
      Stripe-Account:
      - acct_1LIrtg2SBHFmsqvE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_a1nYk0Pwxdb1TwvjhROUngMPfL6N2dE6srOzAQftYFKKYHAdeMmdEQ3UGm",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 1761701,
          "amount_total": 1761701,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "https://example.com/invoices/2/payments/cancel",
          "client_reference_id": null,
          "consent": null,
          "consent_collection": null,
          "currency": "inr",
          "customer": "cus_M0thtazhjtqA3K",
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "email": "kisha@example.net",
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": null,
          "expires_at": 1657275931,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "payment",
          "payment_intent": "pi_3LIrtn2SBHFmsqvE1s6yyBrq",
          "payment_link": null,
          "payment_method_options": {
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "shipping_options": [

          ],
          "shipping_rate": null,
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "https://example.com/invoices/2/payments/success",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": "https://checkout.stripe.com/pay/cs_test_a1nYk0Pwxdb1TwvjhROUngMPfL6N2dE6srOzAQftYFKKYHAdeMmdEQ3UGm#fidkdWxOYHwnPyd1blpxYHZxWktKYmZuSTFHUTE1ZGJibExXSGxQPUo3YjU1fG1UfXU0fFYnKSdjd2poVmB3c2B3Jz9xd3BgKSdpZHxqcHFRfHVgJz8ndmxrYmlgWmxxYGgnKSdga2RnaWBVaWRmYG1qaWFgd3YnP3F3cGApJ3Zxd2x1YERmZmpwa3EnPydkZmZxWjRJTHdxYjdWR01DaHZ0c0AneCUl"
        }
  recorded_at: Thu, 07 Jul 2022 10:25:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3LIrtn2SBHFmsqvE1s6yyBrq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51EXIAiEQYiNu1q8E22PeN6N5pMswpv0Q5dwRApDrqfIuGvyoKTCX5KaKdWWIEZht8LjSF85v7lxPOKrxBFFs7vLp00QvWOAKgM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1LIrtg2SBHFmsqvE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1LIrtg2SBHFmsqvE
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_3LIrtn2SBHFmsqvE1s6yyBrq",
          "object": "payment_intent",
          "amount": 1761701,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {
            }
          },
          "amount_received": 0,
          "application": "ca_LVTEicAhu0EntAfF62QG1G4CXJtN08Wv",
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges?payment_intent=pi_3LIrtn2SBHFmsqvE1s6yyBrq"
          },
          "client_secret": "pi_3LIrtn2SBHFmsqvE1s6yyBrq_secret_WRBnuNx9WlfuKG5tAknh1TTPJ",
          "confirmation_method": "automatic",
          "created": 1657189531,
          "currency": "inr",
          "customer": "cus_M0thtazhjtqA3K",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 07 Jul 2022 10:25:33 GMT
[...]
