<table role="presentation" cellpadding="0" cellspacing="0" border="0" class="email-button-wrap">
  <tr>
    <td class="email-button-cell">
      <a href="<%= href %>" target="<%= local_assigns.fetch(:target, "_blank") %>" class="email-button <%= local_assigns[:secondary] ? "email-button-secondary" : "" %>"><%= label %></a>
    </td>
  </tr>
</table>
