<head>
    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application"%>
</head>
<div>
  <%= react_component("InvoiceEmail/index",{
    url: new_invoice_payment_url(invoice),
    invoice: invoice,
    logo: invoice.company.company_logo,
    lineItems: invoice.invoice_line_items,
    company: invoice.company,
    client: invoice.client
    }) %>
</div>
