<head>
    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application"%>
</head>
<div>
  <%= react_component("InvoiceEmail/index",{url: new_invoice_payment_url(@invoice), invoice: @invoice }) %>
</div>
