<div class="antialiased min-h-screen lg:flex" x-data="{ isOpen: false}">
<nav
    class="lg:hidden absolute inset-0 transform lg:transform-none lg:opacity-100 duration-200 lg:relative z-10 w-80 bg-indigo-900 text-white h-screen p-3"
    :class="{'translate-x-0 ease-in opacity-100':isOpen === true, '-translate-x-full ease-out opacity-0': isOpen === false} "
>
    <div class="flex justify-between" x-show="isOpen" @click.away="isOpen = false">
        <span class="font-bold text-2xl sm:text-3xl p-2">Sidebar</span>
        <button
            class="p-2 focus:outline-none focus:bg-indigo-800 hover:bg-indigo-800 rounded-md lg:hidden"
            @click="isOpen = false"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 19l-7-7 7-7"
                />
            </svg>
        </button>
    </div>
    <ul class="mt-8">
        <li>
            <a
                href="#"
                class="block px-4 py-2 hover:bg-indigo-800 rounded-md"
                >Home</a
            >
            <a
                href="#"
                class="block px-4 py-2 hover:bg-indigo-800 rounded-md"
                >About</a
            >
            <a
                href="#"
                class="block px-4 py-2 hover:bg-indigo-800 rounded-md"
                >Products</a
            >
            <a
                href="#"
                class="block px-4 py-2 hover:bg-indigo-800 rounded-md"
                >Pricing</a
            >
        </li>
    </ul>
</nav>
<div class="relative z-0 lg:flex-grow">
    <header class="flex bg-gray-700 text-white items-center px-3">
        <button
            class="p-2 focus:outline-none focus:bg-gray-600 hover:bg-gray-600 rounded-md xlg:hidden"
              @click="isOpen = !isOpen" @keydown.escape="isOpen = false"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                />
            </svg>
        </button>
        <span class="block text-2xl sm:text-3xl font-bold p-4"
            >AlpineJS</span
        >
    </header>
    <%= yield %>
</div>
</div>