<div class="md:px-20 mx-auto font-manrope">
  <div>
    <%= react_component("Engagements/RouteConfig", {
      isAdminUser: Pundit.policy!(current_user, :engagement).admin_access?, embedUrl: embed_url,
      engagementOptions: EngagementTimestamp::ENGAGEMENT_OPTIONS,
      currentWeekCode: EngagementTimestamp.current_week_code,
      currentWeekDueAt: EngagementTimestamp.current_week_due_at.to_s,
    }) %>
  </div>
</div>
