<div class="max-w-6xl mx-auto px-2 md:px-11 font-manrope">
  <div class="px-5">
    <div>
      <div class="sm:flex sm:items-center sm:justify-between mt-6 mb-3">
        <div class="flex-1 min-w-0">
          <h2 class="text-3xl font-extrabold leading-7 text-gray-900 sm:text-4xl sm:truncate py-1">
            <%= t("projects.projects") %>
          </h2>
        </div>
      </div>

      <%= react_component("Projects", {
        isAdminUser: current_user.has_owner_or_admin_role?(current_user.current_workspace)
      }) %>


    </div>
  </div>
</div>
