<div class="max-w-6xl mx-auto px-2 md:px-11 font-manrope">
  <div>
    <%= react_component("Projects/RouteConfig", {
      isAdminUser: current_user.has_role?(:owner, current_user.current_workspace) || current_user.has_role?(:admin, current_user.current_workspace)
    }) %>
  </div>
</div>
