<div class="" id="root-page">
  <div class="max-w-6xl mx-auto px-2 md:px-11 font-manrope" x-data="{ 'isDialogOpen': false }" @keydown.escape="isDialogOpen = false">
    <div class="px-5">
      <div class="">

<div class="mt-6 flex sm:mt-0 md:ml-4">
              <button @click="isDialogOpen = true" type="button" class="form__button">
                  <img src="<%= image_url 'plus_icon.svg' %>" class="-ml-0.5 mr-2 h-4 w-4 ">
                      ADD TEAM MEMBERS
              </button>
</div>

<div class="px-4 min-h-screen flex items-center justify-center">
    <div class="overflow-auto" style="background-color: rgba(29, 26, 49,0.6)" x-show="isDialogOpen" :class="{ 'absolute inset-0 z-10 flex items-start justify-center': isDialogOpen }">
      <div class="relative px-4 min-h-screen md:flex md:items-center md:justify-center">
      <div class="rounded-lg px-6 pb-6 bg-white shadow-xl transform transition-all sm:align-middle sm:max-w-md sm:w-full" x-show="isDialogOpen" @click.away="isDialogOpen = false">
        <div class="flex justify-between items-center mt-6">
          <h6 class="text-base font-extrabold">Add Team Members</h6> 
          <button type="button" @click="isDialogOpen = false"><%= image_tag('close_button.svg') %></button>
        </div>
        <%= render "projects/project_member" %>
      </div>
      </div>
    </div>
</div>
</div>
    </div>
  </div>
</div>

