version: "3.9"
services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      target: development
    platform: linux/amd64
    command: bash -c "bundle exec rails db:prepare && bundle exec rails s -p 3000 -b 0.0.0.0"
    ports:
      - "3001:3000"
    working_dir: /app
    volumes:
      - ../:/app
      - bundle_cache:/usr/local/bundle
      - node_modules:/app/node_modules
    environment:
      DATABASE_URL: postgres://postgres:postgres@database:5432/miru_web_development
      DB_HOST: database
      DB_USER: postgres
      DB_PASS: postgres
      DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL: true
      PIDFILE: /tmp/pids/server.pid
      BUNDLE_PATH: /usr/local/bundle
      RAILS_ENV: development
      NODE_ENV: development
      PLAYWRIGHT_BROWSERS_PATH: /ms-playwright
    depends_on:
      - database
    tmpfs:
      - /tmp/pids/

  database:
    image: postgres:16-alpine
    platform: linux/amd64
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"

  vite:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      target: development
    platform: linux/amd64
    command: pnpm vite dev --host 0.0.0.0 --port 3036
    ports:
      - "3036:3036"
    working_dir: /app
    volumes:
      - ../:/app
      - node_modules:/app/node_modules
    depends_on:
      - database

  test:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      target: test
    platform: linux/amd64
    command: bash -c "bundle exec rails db:test:prepare && bundle exec parallel_rspec -n 4 spec/"
    working_dir: /app
    volumes:
      - ../:/app
      - bundle_cache:/usr/local/bundle
      - node_modules:/app/node_modules
    environment:
      RAILS_ENV: test
      NODE_ENV: test
      DATABASE_URL: postgres://postgres:postgres@database:5432/miru_web_test
      DB_HOST: database
      DB_USER: postgres
      DB_PASS: postgres
      DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL: true
      BUNDLE_PATH: /usr/local/bundle
      PLAYWRIGHT_BROWSERS_PATH: /ms-playwright
      PLAYWRIGHT_HEADLESS: true
      CI: true
      PARALLEL_WORKERS: 4
    depends_on:
      - database
    tmpfs:
      - /tmp

volumes:
  bundle_cache:
  postgres_data:
  node_modules: