default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV.fetch("DB_HOST") { "localhost" } %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 10 } %>
  user: <%= ENV.fetch("DB_USER") { "" } %>
  password: <%= ENV.fetch("DB_PASS") { "" } %>

development:
  <<: *default
  database: "miru_web_development"

test:
  <<: *default
  database: <%= "miru_web_test_#{ENV['TEST_ENV_NUMBER']}" %>

production:
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 10 } %>
  url: <%= ENV['DATABASE_URL'] %>
