default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
      recurring_tasks:
        update_invoice_status:
          class: UpdateInvoiceStatusToOverdueJob
          schedule: "0 0 * * *" # Runs every day at 12AM UTC
        weekly_reminder:
          class: WeeklyReminderToUserJob
          schedule: "0 14 * * 1 Asia/Kolkata" # Runs every Monday at 14:00
        update_exchange_rates:
          class: UpdateExchangeRatesJob
          schedule: "0 6 * * * America/New_York" # Runs every day at 1:00 AM EST (6:00 AM UTC)
  workers:
    - queues: "*"
      threads: 5
      processes: 1
      polling_interval: 0.1

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
