default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
      recurring_tasks:
        update_invoice_status:
          class: UpdateInvoiceStatusToOverdueJob
          schedule: 'every 10 minutes'  # Runs every day at 12AM UTC
        weekly_reminder:
          class: WeeklyReminderToUserJob
          schedule: '0 14 * * 1 Asia/Kolkata' # Runs every Monday at 14:00
  workers:
    - queues: "*"
      threads: 5
      processes: 1
      polling_interval: 0.1

development:
 <<: *default

test:
 <<: *default

production:
 <<: *default
