@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-toastify/dist/ReactToastify.min.css";
@import "toastr/toastr";
@import "team";

@layer base {
  @font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf");
  }

  .field_with_errors {
    display: flex;
    justify-content: space-between;
  }

  .modal-width {
    min-width: 25rem;
  }
}

@layer components {
  .form {
    &__textarea, &__select {
      @apply rounded tracking-wider border block w-full px-3 py-2 bg-miru-gray-100 font-medium text-sm text-miru-dark-purple-1000 focus:outline-none;
    }
    &__input_submit {
      @apply tracking-widest h-10 w-full flex justify-center py-1 px-4 border border-transparent shadow-sm text-base font-sans font-medium text-miru-white-1000 bg-miru-han-purple-1000 hover:bg-miru-han-purple-600 focus:outline-none rounded cursor-pointer;
    }
    &__input {
      @apply rounded tracking-wider border block w-full px-3 py-2 bg-miru-gray-100 font-medium text-sm text-miru-dark-purple-1000 focus:outline-none h-8;
    }
    &__label {
      @apply tracking-wider block text-xs font-normal text-miru-dark-purple-1000;
    }
    &__title {
      @apply text-base font-extrabold tracking-normal text-miru-dark-purple-1000;
    }
    &__button {
      @apply tracking-widest inline-flex items-center h-10 w-full flex justify-center py-1 px-4 border border-transparent shadow-sm text-base font-bold text-miru-white-1000 bg-miru-han-purple-1000 hover:bg-miru-han-purple-600 focus:outline-none rounded;
    }
    &__error {
      @apply tracking-wider block text-xs font-semibold text-red-600;
    }
    &__link {
      @apply font-bold text-miru-han-purple-1000 hover:text-miru-han-purple-600 tracking-wider;
    }
  }

  .button {
    @apply tracking-widest h-10 w-48 text-base font-bold focus:outline-none rounded;
    &__bg_transparent {
      @apply button border border-miru-han-purple-1000 bg-transparent text-miru-han-purple-1000 hover:text-miru-han-purple-600;
    }
    &__bg_purple {
      @apply button text-miru-white-1000 bg-miru-han-purple-1000 hover:bg-miru-han-purple-600;
    }
  }

  .password_eye {
    &__icon {
      @apply h-4 w-4 text-miru-han-purple-1000 cursor-pointer;
    }
    &__position {
      @apply absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5
    }
  }
}


body {
  font-family: "Manrope", "sans-serif";
}
