@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-toastify/dist/ReactToastify.min.css";
@import "toastr/toastr";

@layer base {
  @font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf");
  }
}

body {
  font-family: "Manrope", "sans-serif";
}
