@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-toastify/dist/ReactToastify.min.css";
@import "react-responsive-carousel/lib/styles/carousel.min.css";
@import "team";
@import "time-tracking";
@import "react-calendar";
@import "toast";
@import "pto";
@import "authentication";
@import "rc-steps";

@layer base {
  @font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf");
    font-weight: 200 800;
  }

  .field_with_errors {
    display: flex;
    justify-content: space-between;
  }

  .modal-width {
    min-width: 25rem;
  }
}

@layer components {
  @import "navbar";
  .sidebar {
    &__container {
      box-shadow: -2px 6px 11px grey;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      @apply fixed right-0 bottom-0 top-0 w-80 bg-white;
    }
    &__footer {
      @apply flex h-full items-end justify-center p-6;
    }
    &__reset {
      @apply focus:outline-none mr-2 w-6/12 items-center rounded border-2 border-miru-han-purple-1000 bg-transparent bg-transparent py-1 px-4 text-base text-base font-medium tracking-widest text-miru-han-purple-1000 shadow-sm hover:text-miru-han-purple-600;
    }
    &__apply {
      @apply focus:outline-none w-6/12 items-center rounded border-2 border-miru-han-purple-1000 bg-transparent bg-miru-han-purple-1000 py-1 px-4 text-base text-base font-medium tracking-widest text-white shadow-sm hover:border-miru-han-purple-600;
    }
  }

  .button-icon {
    &__back {
      @apply mr-4 h-8 p-1;
    }
    &__back:hover {
      background-color: rgba(205, 214, 223, 0.2);
      @apply rounded;
    }
  }

  .menuButton {
    &__button {
      @apply rounded p-2;
    }
    &__button:hover {
      background-color: rgba(205, 214, 223, 0.2);
      @apply rounded;
    }
    &__wrapper {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
      @apply absolute right-0 w-64 rounded-xl bg-white py-5;
    }
    &__list-item {
      @apply block flex w-full items-center px-5 py-1.5 text-sm text-miru-han-purple-1000 hover:bg-miru-gray-100;
    }
  }

  .header {
    &__title {
      @apply text-xl font-extrabold leading-7 text-gray-900 lg:text-3xl;
    }
    &__searchWrap {
      @apply flex items-center;
    }
    &__searchInnerWrapper {
      @apply relative mt-1 rounded-md shadow-sm md:ml-5;
      input {
        @apply bg-miru-gray-100 text-tiny font-medium;
        width: 224px;
        padding: 7px 6px;
      }
      @media screen and (min-width: 500px) {
        input {
          width: 324px;
          padding: 7px 6px;
        }
      }
      @media screen and (min-width: 1200px) {
        input {
          width: 424px;
          padding: 7px 6px;
        }
      }
    }
    &__searchInput {
      @apply focus:outline-none block h-8 w-24 appearance-none rounded border border-gray-100 bg-miru-gray-100 px-3  py-2 text-xs font-semibold tracking-wider text-miru-dark-purple-1000 shadow-sm focus:border-miru-gray-1000 focus:ring-miru-gray-1000 sm:w-40 sm:text-sm md:w-64 lg:w-96;
    }
    &__button {
      @apply focus:outline-none ml-2 flex inline-flex h-10 cursor-pointer items-center justify-center rounded border border-miru-han-purple-1000 bg-transparent bg-transparent px-3 py-3 font-sans text-xs font-medium tracking-widest text-miru-han-purple-1000 shadow-sm hover:border-miru-han-purple-600 hover:text-miru-han-purple-600 sm:px-1 lg:border-2 lg:py-1 lg:px-4 lg:text-base;
    }
  }

  .page-display {
    &__wrap {
      @apply flex w-full items-stretch border-t border-miru-gray-1000 pt-5 text-miru-dark-purple-1000 sm:flex-row;
    }
    &__box {
      @apply flex flex-col items-start justify-start border-r border-miru-han-purple-600 pl-2 pr-6 md:px-10;
    }
    &__box:last-child {
      @apply border-r-0 border-b-0 pb-0;
    }
    &__box:nth-last-child(2) {
      @apply border-b-0 pb-0;
    }
  }

  .align-page {
    &__outer-wrapper {
      @apply mx-auto font-manrope lg:max-w-3xl xl:max-w-7xl;
    }
    &__middle-wrapper {
      @apply px-3 sm:px-6 md:px-10 lg:px-0 xl:px-22;
    }
    &__inner-wrapper {
      @apply xl:px-2;
    }
  }

  .form {
    &__textarea,
    &__select {
      @apply focus:outline-none block w-full rounded border bg-miru-gray-100 px-3 py-2 text-sm font-medium tracking-wider text-miru-dark-purple-1000;
    }
    &__input_submit {
      @apply focus:outline-none flex h-10 w-full cursor-pointer justify-center rounded border border-transparent bg-miru-han-purple-1000 py-1 px-4 font-sans text-base font-medium tracking-widest text-miru-white-1000 shadow-sm hover:bg-miru-han-purple-600;
    }
    &__input {
      @apply focus:outline-none block h-8 w-full rounded border bg-miru-gray-100 px-3 py-2 text-sm font-medium tracking-wider text-miru-dark-purple-1000;
    }
    &__label {
      @apply block text-xs font-normal tracking-wider text-miru-dark-purple-1000;
    }
    &__title {
      @apply text-base font-extrabold tracking-normal text-miru-dark-purple-1000;
    }
    &__button {
      @apply focus:outline-none flex inline-flex h-10 w-full cursor-pointer items-center justify-center rounded border border-transparent bg-miru-han-purple-1000 py-1 px-4 text-base font-bold tracking-widest text-miru-white-1000 shadow-sm hover:bg-miru-han-purple-600;
    }
    &__button_outline {
      @apply focus:outline-none ml-2 flex inline-flex h-10 w-full cursor-pointer items-center justify-center rounded border-2 border-miru-han-purple-1000 bg-transparent bg-transparent py-1 px-4 text-base font-semibold tracking-widest text-miru-han-purple-1000 shadow-sm hover:border-miru-han-purple-600 hover:text-miru-han-purple-600;
    }
    &__error {
      @apply block text-xs font-semibold tracking-wider text-red-600;
    }
    &__link {
      @apply font-bold tracking-wider text-miru-han-purple-1000 hover:text-miru-han-purple-600;
    }
    &__save {
      @apply focus:outline-none ml-2 flex inline-flex h-10 w-full cursor-pointer items-center justify-center rounded border border-transparent bg-miru-han-purple-1000 py-1 px-4 text-base font-semibold tracking-widest text-miru-white-1000 shadow-sm hover:bg-miru-han-purple-600;
    }
    &__cancel {
      @apply focus:outline-none ml-2 flex inline-flex h-10 w-full cursor-pointer items-center justify-center rounded border-2 border-miru-han-purple-1000 bg-transparent py-1 px-4 text-base font-semibold tracking-widest text-miru-han-purple-1000 shadow-sm hover:border-miru-han-purple-600;
    }
    &__radio {
      @apply h-4 w-4 border-miru-han-purple-1000 text-miru-dark-purple-1000 focus:ring-miru-han-purple-1000;
    }
  }

  .button {
    @apply focus:outline-none h-10 w-48 rounded text-base font-bold tracking-widest;
    &__bg_transparent {
      @apply button border border-miru-han-purple-1000 bg-transparent text-miru-han-purple-1000 hover:text-miru-han-purple-600;
    }
    &__bg_purple {
      @apply button bg-miru-han-purple-1000 text-miru-white-1000 hover:bg-miru-han-purple-600;
    }
  }

  .password_eye {
    &__icon {
      @apply h-4 w-4 cursor-pointer text-miru-han-purple-1000;
    }
    &__position {
      @apply absolute inset-y-0 right-0 flex items-center pr-3 text-sm leading-5;
    }
  }

  .page-content {
    &__position {
      @apply mt-6 px-1 sm:flex sm:items-center sm:justify-between sm:px-0;
    }
    &__title-width {
      @apply w-full sm:w-1/5;
    }
    &__title {
      @apply py-1 text-3xl font-bold leading-7 text-gray-900 sm:text-4xl;
    }
    &__search-width {
      @apply mt-6 w-full sm:mt-0 sm:w-3/5;
    }
    &__search {
      @apply sm:pr-6 md:pr-10 lg:pr-6 xl:pr-48 xxl:pr-56;
    }
    &__search-input {
      @apply focus:outline-none block h-8 w-full rounded border border-gray-100 bg-miru-gray-100 px-3 py-2 pr-10 text-xs font-semibold text-miru-dark-purple-1000 shadow-sm focus:border-miru-gray-1000 focus:ring-miru-gray-1000 sm:text-sm;
    }
    &__search-image {
      @apply absolute inset-y-0 right-0 my-2 flex h-4 cursor-pointer items-center pr-3;
    }
    &__new-user-width {
      @apply mt-6 w-full sm:mt-0 sm:w-1/4;
    }
    &__new-user-position {
      @apply md:ml-3 lg:ml-5 xl:ml-22;
    }
    &__new-user-button {
      @apply focus:outline-none flex inline-flex h-10 w-full cursor-pointer items-center justify-center rounded border-2 border-miru-han-purple-1000 bg-transparent bg-transparent py-1 text-base font-semibold tracking-widest text-miru-han-purple-1000 shadow-sm hover:border-miru-han-purple-600 hover:text-miru-han-purple-600 sm:ml-2 md:px-4;
    }
    &__button-image {
      @apply -ml-0.5 mr-2 h-4 w-4;
    }
  }

  .table {
    &__flex {
      @apply flex flex-col;
    }
    &__position-one {
      @apply -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8;
    }
    &__position-two {
      @apply inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8;
    }
    &__border {
      @apply overflow-hidden border-b-2 border-miru-gray-200;
    }
    &__width {
      @apply mt-4 min-w-full divide-y divide-gray-200;
    }
    &__header {
      @apply p-5 text-left text-xs font-normal tracking-widest text-miru-dark-purple-600;
    }
    &__cell {
      @apply p-4 text-left text-xs font-normal tracking-normal text-miru-dark-purple-1000;
    }
    &__body {
      @apply divide-y divide-gray-200 bg-white;
    }
    &__data {
      @apply whitespace-nowrap px-3 py-3;
    }
    &__button {
      @apply h-6 rounded hover:bg-miru-gray-1000 hover:bg-opacity-20;
    }
    &__button-design {
      @apply text-right text-sm font-medium;
    }
    &__pending {
      @apply inline-flex rounded-full bg-miru-han-purple-100 px-2 text-xs font-semibold leading-5 tracking-widest text-miru-han-purple-1000;
    }
    &__text {
      @apply text-xs font-normal text-miru-dark-purple-1000;
    }
    &__name {
      @apply text-base font-normal text-miru-dark-purple-1000;
    }
    &__avatar {
      @apply h-6 w-6 rounded-full;
    }
    &__import_header {
      @apply w-1/2 px-2 py-1 text-left text-xs font-normal tracking-widest text-miru-dark-purple-600;
    }
  }

  .modal {
    &__modal {
      @apply animated fadeIn faster fixed inset-0 z-50 flex w-full items-center justify-center overflow-hidden px-5;
    }
    &__container {
      @apply z-50 mx-auto w-full max-w-md overflow-y-auto rounded-xl bg-white shadow-lg;
    }
    &__container__import__modal {
      @apply z-50 mx-auto w-full max-w-400 overflow-y-auto rounded-xl bg-white shadow-lg;
    }
    &__content {
      @apply py-4 px-3 text-left;
    }
    &__position {
      @apply mx-3 flex items-center justify-between;
    }
    &__title {
      @apply text-base font-extrabold;
    }
    &__close {
      @apply z-50 cursor-pointer;
    }
    &__button {
      @apply rounded p-2 hover:bg-miru-gray-1000 hover:bg-opacity-20;
    }
    &__form {
      @apply mx-3 mb-3 flex justify-center;
    }
  }
}

.custom {
  &__checkbox:checked + div {
    @apply border-miru-han-purple-1000;
  }
  &__checkbox:checked + div .custom__checkbox-tick {
    @apply block;
  }
  &__checkbox:indeterminate + div .custom__checkbox-dash {
    @apply block;
  }
  &__radio:checked + label i {
    @apply bg-miru-han-purple-1000;
    box-shadow: 0px 0px 0px 2px white inset;
  }
}

.filter {
  &__subheading {
    @apply flex w-full items-center justify-between px-5;
  }
  &__subheading-text {
    @apply text-xs tracking-widest text-miru-dark-purple-1000;
  }
}

.react-select-filter {
  &___control {
    height: 32px;
  }
  &__placeholder {
    font-size: 14px;
    color: #a5a3ad;
  }
  &__dropdown-indicator {
    padding: 4px !important;
  }
  &__multi-value {
    font-size: 12px;
    background-color: #e1e6ec;
    border-radius: 14px !important;
    padding: 0px 8px;
    align-items: center;
    justify-content: center;
  }
  &__option {
    font-size: 12px;
  }
  &__value-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.filter {
  &__counter {
    @apply absolute right-0 block rounded-lg bg-miru-han-purple-1000 text-white;
    top: 4px;
    padding: 7px 5px;
  }
}

.reiTable {
  &__th {
    @apply py-5 text-left text-xs font-normal tracking-widest text-miru-dark-purple-600;
  }
  &__tr {
    @apply py-6 text-xs text-miru-dark-purple-1000;
  }
}

body {
  font-family: "Manrope", "sans-serif";
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 3000ms ease-in;
}

.hoverIcon:hover {
  background-color: #f5f7f9;
  .iconWrapper {
    @apply visible;
  }
}

.userAvatarWrapper {
  @apply absolute top-0;
  margin-top: -50px;
}

.box-shadow {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.hoverButton:hover + span {
  @apply visible;
}

.hoverPencil:hover button {
  @apply visible;
}

.hoverPencil .react-datepicker-wrapper {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.customToggle {
  &__container {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }

  & {
    position: absolute;
    opacity: 0;
  }

  & + div {
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border-radius: 999px;
    background-color: #e1e6ec;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow;
    cursor: pointer;
  }

  &:checked + div {
    width: 48px;
    background-position: 0 0;
    background-color: #e1e6ec;
  }

  & + div {
    width: 48px;
    height: 24px;
  }

  &:checked + div {
    background-color: #5b34ea;
  }

  & + div > div {
    float: left;
    width: 16px;
    height: 16px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color;
    transition-property: transform, background-color;
    pointer-events: none;
    margin-top: 4px;
    margin-left: 3px;
  }

  &:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
  }

  &:checked + div > div {
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
}

.dashed-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23A5A3ADFF' stroke-width='4' stroke-dasharray='6%2c 18' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  border-radius: 16px;
  transition: opacity 0.3s ease;
  background-size: 30px 30px;
  background-image: linear-gradient(
    135deg,
    #5b34ea 25%,
    #9d85f2 25%,
    #9d85f2 50%,
    #5b34ea 50%,
    #5b34ea 75%,
    #9d85f2 75%,
    #9d85f2
  );
  animation: barberpole 1.5s linear infinite;
}

@keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}

.import-modal {
  &__header-number {
    @apply flex h-5 w-5 items-center justify-center rounded-full bg-miru-han-purple-1000 text-xs font-semibold text-white;
  }
}

.truncateOverflowText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.outline input:focus-within ~ label,
.outline input:not(:placeholder-shown) ~ label {
  @apply top-2 z-0 ml-3 -translate-y-4 scale-75 transform px-1 py-0 text-xs text-miru-dark-purple-400;
}

.outline input:focus-within ~ label.p-0,
.outline input:not(:placeholder-shown) ~ label.p-0 {
  padding: 0 !important;
}

.outline input.error-input ~ label {
  color: #e04646 !important;
}

.focusPadding:focus {
  padding-left: 8px;
  padding-right: 4px;
}

.tooltip {
  background-color: #1d1a31;
  color: #fff;
}

.tootlip-project{
  border-radius: 4px;
  transform: translateX(-50%);
}

.input-phone-number input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.profile-setting-image:hover img {
  opacity: 0.3;
}

.profile-setting-image .hover-button {
  visibility: hidden;
}

.profile-setting-image:hover .hover-button {
  visibility: visible;
}

.border-bottom-none {
  border-bottom: 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}