// https://codepen.io/jmh86/pen/PoNmdOO
// .switch {
// 	position: relative;
// 	display: inline-block;
// 	width: 55px;
// 	height: 31px;
// 	outline: none;
// 	input {
// 		position: absolute;
// 		top: -99999px;
// 		left: -99999px;
// 	}
// }
// .slider {
// 	position: absolute;
// 	cursor: pointer;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	background-color: #ccc;
// 	-webkit-transition: .4s;
// 	transition: .4s;
// 	border-radius: 31px;
// 	&:before {
// 		position: absolute;
// 		content: "";
// 		height: 23px;
// 		width: 23px;
// 		left: 4px;
// 		bottom: 4px;
// 		background-color: white;
// 		-webkit-transition: .4s;
// 		transition: .4s;
// 		border-radius: 50%;
// 	}
// }
// input {
// 	&:checked {
// 		& + .slider {
// 			background-color: #4BB543;
// 			&:before {
// 				-webkit-transform: translateX(23px);
// 				-ms-transform: translateX(23px);
// 				transform: translateX(23px);
// 			}
// 		}
// 	}
// 	&:focus {
// 		& + .slider {
// 			box-shadow: 0 0 1px #4BB543;
// 		}
// 	}
// }

// https://tailwindcomponents.com/component/free-tailwind-css-form-layout-component/landing
.checkbox {
	&:checked {
		right: 0;
		& + .toggle-label {
			background-color: #5B34EA !important;
		}
	}
}

.switch-checkbox{
	margin-right: 0px !important;
}

.chip {
	background: #5B34EA !important;
}
