
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #A9DEEF;
  --toastify-color-success: #A9EFC5;
  --toastify-color-warning: #EFDBA9;
  --toastify-color-error: #EFA9A9;

  //Used only for colored theme
  --toastify-text-color-info: #104556;
  --toastify-text-color-success: #10562C;
  --toastify-text-color-warning: #564210;
  --toastify-text-color-error: #561010;
}

.Toastify__toast {
  padding: 1rem;

  .Toastify__toast-body {
    border-radius: 8px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
  }
}

#toast-container {
  box-shadow: 0;

  &.toast-bottom-center > div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .toast {
    background-image: none !important;;
    background-repeat: no-repeat;
    opacity: 1 !important;
    padding: 1rem;

    .toast-close-button {
      height: 15px;
      width: 15px;
      margin-top: 1rem;
    }

    &.toast-error {
      background-image: url('../../assets/images/error-octagon.svg') !important;
      background-color: #EFA9A9;
      color: #561010;

      .toast-close-button {
        background-image: url('../../assets/images/alert-error-close.svg') !important;
      }
    }

    &.toast-success {
      background-image: url('../../assets/images/success-check-circle.svg') !important;
      background-color: #A9EFC5;
      color: #10562C;

      .toast-close-button {
        background-image: url('../../assets/images/success-close-icon.svg') !important;
      }
    }

    &.toast-warning {
      background-image: url('../../assets/images/warning-triangle.svg') !important;
      background-color: #EFDBA9;
      color: #564210;

      .toast-close-button {
        background-image: url('../../assets/images/warning-close-icon.svg') !important;
      }
    }

    &.toast-info {
      background-image: url('../../assets/images/info-circle.svg') !important;
      background-color: #A9DEEF;
      color: #104556;

      .toast-close-button {
        background-image: url('../../assets/images/info-close-icon.svg') !important;
      }
    }

    .toast-message {
      text-align: center;
      padding: 6px;
      border-radius: 8px;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0px;
    }
  }
}
