<div class="max-w-6xl mx-auto px-2 md:px-11 font-manrope">
  <div>
    <div>
      <%= react_component("payments", {
        isAdminUser: current_user.has_owner_or_admin_or_book_keeper_role?(current_user.current_workspace)
      }) %>
    </div>
  </div>
</div>
