---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard
    headers:
      Authorization:
      - Bearer sk_test_51IhHdESCBF1Aa8FdlQxSSHGS5gWElHBukbysjHZulWBs7te332pIGai45UkDZrNZh4ZuUHy36vVZ6Kj0Xl6YA7WS00DmWisooQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 41016808-3a3a-416a-9331-93741a89c19e
      Original-Request:
      - req_GeYr0inr7Ov5OQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1LRx2CSFUM82VSBc",
          "object": "account",
          "business_profile": {
            "mcc": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {
          },
          "charges_enabled": false,
          "controller": {
            "is_controller": true,
            "type": "application"
          },
          "country": "IN",
          "created": 1659354228,
          "default_currency": "inr",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1LRx2CSFUM82VSBc/external_accounts"
          },
          "future_requirements": {
            "alternatives": [

            ],
            "current_deadline": null,
            "currently_due": [

            ],
            "disabled_reason": null,
            "errors": [

            ],
            "eventually_due": [

            ],
            "past_due": [

            ],
            "pending_verification": [

            ]
          },
          "metadata": {
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [

            ],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "email",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [

            ],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "email",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": [

            ]
          },
          "settings": {
            "bacs_debit_payments": {
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kanji": null,
              "statement_descriptor_prefix_kana": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 5,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {
            }
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Mon, 01 Aug 2022 11:43:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&country=US&email=jenny.rosen%40example.com&business_type=company&company[name]=test+company&business_profile[name]=test+company&business_profile[url]=https%3A%2F%2Fexampletest.com&capabilities[card_payments][requested]=true&capabilities[transfers][requested]=true
    headers:
      Authorization:
      - Bearer sk_test_51IhHdESCBF1Aa8FdlQxSSHGS5gWElHBukbysjHZulWBs7te332pIGai45UkDZrNZh4ZuUHy36vVZ6Kj0Xl6YA7WS00DmWisooQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 943b1c48-a7e4-43cb-891d-056ea31e12c6
      Original-Request:
      - req_zCYiSP1gft2SXJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "details_submitted": false,
          "type": "custom",
          "metadata": {
          },
          "id": "acct_1LRx2LI3aVVphDI7",
          "object": "account",
          "default_currency": "usd",
          "capabilities": {
            "transfers": "inactive",
            "card_payments": "inactive"
          },
          "business_type": "company",
          "charges_enabled": false,
          "settings": {
            "dashboard": {
              "display_name": "Exampletest",
              "timezone": "Etc/UTC"
            },
            "payouts": {
              "debit_negative_balances": false,
              "statement_descriptor": null,
              "schedule": {
                "interval": "daily",
                "delay_days": 2[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=robin_frami%40example.net&name=Sen.+Bert+Runolfsdottir&phone=%2B23112748905114&metadata[platform_id]=1
    headers:
      Authorization:
      - Bearer sk_test_51IhHdESCBF1Aa8FdlQxSSHGS5gWElHBukbysjHZulWBs7te332pIGai45UkDZrNZh4ZuUHy36vVZ6Kj0Xl6YA7WS00DmWisooQ
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1LRx2LI3aVVphDI7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c264fe2a-e3f1-455a-a285-3d1d7352d551
      Original-Request:
      - req_HVzF1UPXF3DMOA
      Stripe-Account:
      - acct_1LRx2LI3aVVphDI7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_MAHbkOtjF00LM1",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1659354247,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "robin_frami@example.net",
          "invoice_prefix": "978817E8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "platform_id": "1"
          },
          "name": "Sen. Bert Runolfsdottir",
          "next_invoice_sequence": 1,
          "phone": "+23112748905114",
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 01 Aug 2022 11:44:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: line_items[0][price_data][currency]=inr&line_items[0][price_data][product_data][name]=gbvx&line_items[0][price_data][product_data][description]=Invoice+from+Saeloun+for+inr+57771.41+due+on+2020-03-30&line_items[0][price_data][unit_amount]=5777141&line_items[0][quantity]=1&mode=payment&customer=cus_MAHbkOtjF00LM1&success_url=https%3A%2F%2Fexample.com%2Finvoices%2F1%2Fpayments%2Fsuccess&cancel_url=https%3A%2F%2Fexample.com%2Finvoices%2F1%2Fpayments%2Fcancel
    headers:
      Authorization:
      - Bearer sk_test_51IhHdESCBF1Aa8FdlQxSSHGS5gWElHBukbysjHZulWBs7te332pIGai45UkDZrNZh4ZuUHy36vVZ6Kj0Xl6YA7WS00DmWisooQ
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1LRx2LI3aVVphDI7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5b91a435-be74-49d5-9726-54ae5bfa006a
      Original-Request:
      - req_sSW4FqvAaSiizI
      Stripe-Account:
      - acct_1LRx2LI3aVVphDI7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_a1DC2DEgzTn2zWyvKeSDeL5fXaIgr86rgiGgJ1AwDNQlQWJWGarNqgtjdL",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 5777141,
          "amount_total": 5777141,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "https://example.com/invoices/1/payments/cancel",
          "client_reference_id": null,
          "consent": null,
          "consent_collection": null,
          "currency": "inr",
          "customer": "cus_MAHbkOtjF00LM1",
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "email": "robin_frami@example.net",
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": null,
          "expires_at": 1659440652,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "payment",
          "payment_intent": "pi_3LRx2fI3aVVphDI70DlYSfT5",
          "payment_link": null,
          "payment_method_options": {
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "shipping_options": [

          ],
          "shipping_rate": null,
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "https://example.com/invoices/1/payments/success",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": "https://checkout.stripe.com/pay/cs_test_a1DC2DEgzTn2zWyvKeSDeL5fXaIgr86rgiGgJ1AwDNQlQWJWGarNqgtjdL#fidkdWxOYHwnPyd1blpxYHZxWjA0TG1NYUBWRkdDNERkPUNhYXZhYndgVDxKYnNHT0F2b2Bjcmtvc29fZkY9R05Bc0d%2FNFA1amFgRjR8ZFVOSFR9bWFvMmRmfEJ0SFByY2tjVV9AQXEyMmtiNTVTNkAyTmpMSCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYCkndnF3bHVgRGZmanBrcSc%2FJ2RmZnFaNElXfTdJTDZkU1N1bUFMMid4JSUl"
        }
  recorded_at: Mon, 01 Aug 2022 11:44:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3LRx2fI3aVVphDI70DlYSfT5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51IhHdESCBF1Aa8FdlQxSSHGS5gWElHBukbysjHZulWBs7te332pIGai45UkDZrNZh4ZuUHy36vVZ6Kj0Xl6YA7WS00DmWisooQ
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1LRx2LI3aVVphDI7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1LRx2LI3aVVphDI7
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_3LRx2fI3aVVphDI70DlYSfT5",
          "object": "payment_intent",
          "amount": 5777141,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {
            }
          },
          "amount_received": 0,
          "application": "ca_M8q4RmSEmTx0fKVGRtuwcCpiGt5Qt5Tn",
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges?payment_intent=pi_3LRx2fI3aVVphDI70DlYSfT5"
          },
          "client_secret": "pi_3LRx2fI3aVVphDI70DlYSfT5_secret_PF4Bgf9SJuvpcfYDM6rEdmSHi",
          "confirmation_method": "automatic",
          "created": 1659354253,
          "currency": "inr",
          "customer": "cus_MAHbkOtjF00LM1",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_payment_method",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 01 Aug 2022 11:44:16 GMT
recorded_with: VCR 3.0.3
