---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard
    headers:
      Authorization:
      - Bearer sk_test_51IhHdESCBF1Aa8FdlQxSSHGS5gWElHBukbysjHZulWBs7te332pIGai45UkDZrNZh4ZuUHy36vVZ6Kj0Xl6YA7WS00DmWisooQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 91a32d1b-ac83-4690-aa3b-ff71a56e5353
      Original-Request:
      - req_VYP28Kx4LKvEQp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1LRx2jSGGbsUPIVE",
          "object": "account",
          "business_profile": {
            "mcc": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {
          },
          "charges_enabled": false,
          "controller": {
            "is_controller": true,
            "type": "application"
          },
          "country": "IN",
          "created": 1659354261,
          "default_currency": "inr",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1LRx2jSGGbsUPIVE/external_accounts"
          },
          "future_requirements": {
            "alternatives": [

            ],
            "current_deadline": null,
            "currently_due": [

            ],
            "disabled_reason": null,
            "errors": [

            ],
            "eventually_due": [

            ],
            "past_due": [

            ],
            "pending_verification": [

            ]
          },
          "metadata": {
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [

            ],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "email",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [

            ],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "email",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": [

            ]
          },
          "settings": {
            "bacs_debit_payments": {
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kanji": null,
              "statement_descriptor_prefix_kana": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 5,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {
            }
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Mon, 01 Aug 2022 11:44:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&country=US&email=jenny.rosen%40example.com&business_type=company&company[name]=test+company&business_profile[name]=test+company&business_profile[url]=https%3A%2F%2Fexampletest.com&capabilities[card_payments][requested]=true&capabilities[transfers][requested]=true
    headers:
      Authorization:
      - Bearer sk_test_51IhHdESCBF1Aa8FdlQxSSHGS5gWElHBukbysjHZulWBs7te332pIGai45UkDZrNZh4ZuUHy36vVZ6Kj0Xl6YA7WS00DmWisooQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 540b8cb2-5942-4889-ab67-a118bb0e325a
      Original-Request:
      - req_YoSPjrkOQsRffU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "details_submitted": false,
          "type": "custom",
          "metadata": {
          },
          "id": "acct_1LRx2sGJz6r3NcdK",
          "object": "account",
          "default_currency": "usd",
          "capabilities": {
            "transfers": "inactive",
            "card_payments": "inactive"
          },
          "business_type": "company",
          "charges_enabled": false,
          "settings": {
            "dashboard": {
              "display_name": "Exampletest",
              "timezone": "Etc/UTC"
            },
            "payouts": {
              "debit_negative_balances": false,
              "statement_descriptor": null,
              "schedule": {
                "interval": "daily",
                "delay_days": 2[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51IhHdESCBF1Aa8FdlQxSSHGS5gWElHBukbysjHZulWBs7te332pIGai45UkDZrNZh4ZuUHy36vVZ6Kj0Xl6YA7WS00DmWisooQ
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1LRx2sGJz6r3NcdK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1LRx2sGJz6r3NcdK
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [

          ],
          "has_more": false,
          "url": "/v1/checkout/sessions"
        }
  recorded_at: Mon, 01 Aug 2022 11:44:42 GMT
recorded_with: VCR 3.0.3
