.background {
  position: absolute;
}

.banner {
  position: relative;
}

.password {
  position: relative;
  top: -80px;
}

.header {
  padding-top: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #5B34EA;
}

.mail {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #777683;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button {
  border-radius: 20px;
  background: #5B34EA;
  text-align: center;
  display: inline-block;

  a {
      width: 129px;
      height: 24px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: #FFFFFF;
      text-decoration: none;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
.purple {
  color: #5B34EA;
}

.container {
  text-align: center;
  width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #777683;
  width: 640px;
}

.invitation {
  .sender_company_container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #000;

    .sender,
    .company {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #D7DEE5;
      border-radius: 16px;
      padding: 24px 16px;
      margin-left: 16px;
      width: 176px;
      height: 130px;
      justify-content: space-evenly;

      img {
        padding-bottom: 4px;
      }
    }
  }

  .about-miru-container {
    background: rgb(235, 239, 242);
    width: 640px;
    margin-top: 40px;

    .about-miru {
      width: 560px;
      height: 265px;
      clip-path: stroke-box;
      margin: auto;
      margin-top: 40px;

      .about-miru-background {
        position: absolute;
      }

      .miru-logo {
        position: relative;
        height: 400px;
        width: 400px;
        left: 288px;
        top: -60px;
        opacity: 20%;
      }

      .desc {
        position: relative;
        top: -444px;
        left: 24px;
        color: #fff;
        width: 272px;
        font-size: 14px;

        .header {
          color: #fff;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 24px;
          line-height: 33px;
        }
      }
    }
  }

  hr {
    margin-top: 40px;
    margin-bottom: 24px;
  }
}

.footer-container {
  justify-content: center;
  display: flex;

  #footer {
    width: 640px;
  }
}
