<p>Hello <%= @resource.first_name %>,</p>

<p>You've successfully changed your password.</p>

<p>If you did not change your password, contact our help center immediately for further assistance.</p>

<p>
  Cheers,<br>
  AC Team
</p>
