<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <%= render 'shared/email_styles' %>
    <style>
      .purple { color: #5B34EA; }
    </style>
  </head>
  <body>
    <div class="mail">
      <div class="container">
        <%= image_tag "Password_Banner.png", class: "banner", alt: "Password reset banner" %>
        <p class="header">Password Changed Successfully</p>
        <p>Hello <%= @resource.first_name %>,</p>
        <p>You've successfully changed your Miru password.</p>
        <hr />
        <p>If you did not change your password, contact our help center immediately at <a href="mailto:hello@saeloun.com" class="purple">hello@saeloun.com</a> for further assistance.</p>
        <p>Cheers,<br/>Team Miru</p>
      </div>
      <%= render "shared/email_footer" %>
    </div>
  </body>
</html>
