<p>Hello <%= @resource.first_name %>,</p>

<p>Let’s reset your password so you can get back to using Miru again!</p>

<p><%= link_to 'Reset password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>After changing the password, you can login using this link: <%= link_to 'app.miru.so', "https://app.miru.so" %>

<p><i>Note that the link will expire in 4 days.</i></p>

<p>If you did not ask to reset your password, you may want to review your recent account access for any unusual activity.</p>

<p>We're here to help if you need it. Visit the Help Centre for more info or <%= link_to 'Contact Us', "https://www.miru.com" %> </p>
