<% content_for :email_preheader, "Reset the password for your Miru account." %>
<% content_for :email_eyebrow, "Account security" %>
<% content_for :email_title, "Reset your password" %>
<% content_for :email_subtitle do %>
  We received a request to reset the password for your Miru account.
<% end %>

<p>Hello,</p>

<p>We received a request to change the password associated with <strong><%= @resource.email %></strong>.</p>

<p>Use the button below to choose a new password. This reset link expires after 24 hours.</p>

<%= render "shared/mailer/button", href: edit_password_url(@resource, reset_password_token: @token), label: "Reset password" %>

<div class="email-divider"></div>

<p class="email-muted">If you did not request a password reset, you can ignore this message and your password will stay the same.</p>
