<div class="" id="root-page">
  <%= react_component("time-tracking/Index", { clients: clients, projects: projects, entries: entries, isAdmin: is_admin, userId: user_id, employees: employees }, prerender: false, camelize_props: false) %>
</div>
