<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @message %></p>

    <p>Attached is your requested report.</p>

    <p>Thank you,</p>
  </body>
</html>
